.material-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.card-container {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.btn-save {
  margin-right: 10px;
  width: 120px;
}

.btn-edit {
  margin-right: 10px;
  width: 105px;
}

.btn-delete {
  width: 105px;
}

.btn-cancel {
  width: 120px;
}

.card-header {
  background: #2e3951;
  color: white;
  text-transform: capitalize;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
}

.card-footer {
  text-align: right;
  background: white;
  border-top: 0px;
}

.buttons-form-container {
  text-align: center;
}

.react-datepicker-wrapper {
  width: 100%;
}

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
